{% extends 'base.html.twig' %}

{% block body %}

    {{include('Templates/Navigation/mainNav.html.twig')}}
    
    <div class="container" id="mainContainer">
 
        {% block content %}

        {% endblock %}
        
    </div>

{% endblock %}
