{% extends 'index.html.twig' %}

{% block content %}
     
        <div class="text-center col-12 form-Header">Liste des Sections</div>

		<div class="offset-3 col-6 offset-3 tableContent">

            <table class="table table-hover">
            
                {% if sectionList is defined and sectionList is not null %}
                    {% for section in sectionList %}

                        <tr class="profileHeaderTr">
                            <th scope="row">
                                {{section.libelle}}
                            </th>
                        </tr>
                        
                    {% endfor %}
                {% endif %}
    
            </table>

        </div>

   
{% endblock %}
