
<!-- Message d'erreur spécifique -->

{% if message is defined and message|length >  0 %}
    <div class="offset-2 col-8 offset-2">
        <div class="row alert alert-danger" style="margin-top: 30%">
            {% for error in message %}
                <div class="col-12 form-error text-center"> 
                    {{ error }} 
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
                

